// app global css in SCSS form
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* ---------------------------------------- Flex helpers ---------------------------------------- */
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-gap {
  @extend .flex-row;
  gap: 1rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col-gap {
  @extend .flex-col;
  gap: 1rem;
}

.w-100 {
  width: 100%;
}

.gap5 {
  gap: 5px;
}

.gap10 {
  gap: 10px;
}

.gap30 {
  gap: 30px;
}

/* -------------------------------------- Quasar container -------------------------------------- */
@import '~quasar/src/css/variables';

$container-padding: 60px;

.container,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: $breakpoint-sm-min) {

  .container,
  .container-sm {
    max-width: $breakpoint-xs - $container-padding;
  }
}

@media (min-width: $breakpoint-md-min) {

  .container,
  .container-sm,
  .container-md {
    max-width: $breakpoint-sm - $container-padding;
  }
}

@media (min-width: $breakpoint-lg-min) {

  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: $breakpoint-md - $container-padding;
  }
}

@media (min-width: $breakpoint-xl-min) {

  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: $breakpoint-lg - $container-padding;
  }
}

/* ---------------------------------------- Sensor colors --------------------------------------- */
.sensor-okay {
  color: $dark;
  background-image: linear-gradient(to right,
      rgba($positive, 0),
      $positive,
      rgba($positive, 0),
    );
}

.sensor-danger {
  color: $grey-1;
  background-image: linear-gradient(to right,
      rgba($negative, 0),
      $negative,
      rgba($negative, 0),
    );
}

.sensor-warning {
  color: $grey-1;
  background-image: linear-gradient(to right,
      rgba($warning, 0),
      $warning,
      rgba($warning, 0),
    );
}

.param-name-okay {
  color: $dark;
}

.param-name-danger {
  color: $negative;
  font-weight: bold;

  &::before {
    content: '⚠ ';
  }
}

.param-name-warning {
  color: $warning;
  font-weight: bold;

  &::after {
    content: ' ⚠';
  }
}
